@inherits LayoutComponentBase

<MudThemeProvider Theme="Themes.Default" ISDarkMode="true"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout Class="h-100" Style="min-height:100vh">
    <MudDrawer Width="56px" Fixed="true" Open Elevation="0"> 
        <MudImage Class="pa-1" Src="files/images/logos/logo.png"/>
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="pa-0">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>