@page "/setup"
@using MeshDex.Application.Services
@using MeshDex.Domain.Entities
@using Microsoft.AspNetCore.Authorization
@layout SetupLayout
@inject ISnackbar Snackbar
@inject LibraryConfigurationService LibraryConfigurationService
@inject NavigationManager NavigationManager
@attribute [Authorize]
@inherits CancellableComponentBase

<PageTitle>Setup</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium"
              Class="d-flex flex-column justify-center align-center"
              Style="height: 100vh; text-align: center;">
    @if (!_loaded || _libraryConfiguration is null)
    {
        <Loading/>
    }
    else
    {
        <MudStack Spacing="2">
            <MudText Typo="Typo.h2">Welcome to 3Dictionary!</MudText>
            <MudText Typo="Typo.body1">
                Before you begin, let’s set up your library so 3Dictionary knows where to find your files.
            </MudText>
            <MudText Typo="Typo.body1">
                Choose Library Location – Pick the main folder where your 3D models will be stored.
            </MudText>
            <MudText Typo="Typo.body1">
                Once setup is complete, you’ll be able to browse, search, and manage your 3D models instantly.
                Please type the root directory for your library.
            </MudText>
            <MudText Typo="Typo.body1">
                Please type the root directory for your library.
            </MudText>
            <EditForm Model="_libraryConfiguration" OnSubmit="Submit">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <MudTextField Label="Root Directory"
                              HelperText="Example: C:/Assets "
                              Class="mt-3"
                              @bind-Value="_libraryConfiguration.RootDirectory"
                              For="() => _libraryConfiguration.RootDirectory"
                              InputType="InputType.Text"
                              OnlyValidateIfDirty="false"
                              Immediate="true"/>

                <div class="mt-2">
                    <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" FullWidth>
                        Submit
                    </MudButton>
                </div>
            </EditForm>
        </MudStack>
    }
</MudContainer>


@code {
    private bool _loaded;
    private LibraryConfiguration? _libraryConfiguration;

    protected override async Task OnInitializedAsync()
    {
        var ct = NewCts();
        _libraryConfiguration = await LibraryConfigurationService.GetConfigurationAsync(ct);

        if (_libraryConfiguration is { Initialised: true })
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        _loaded = true;
    }

    private async Task Submit()
    {
        var path = _libraryConfiguration!.RootDirectory?.Trim() ?? string.Empty;
        var ct = NewCts();
        await LibraryConfigurationService.UpdateRootDirectory(path, ct);
        await LibraryConfigurationService.ToggleInitialised(ct);
        Snackbar.Add("Default directory set successfully.", Severity.Success);
        NavigationManager.NavigateTo("/");
    }

}