@inherits LayoutComponentBase

<MudThemeProvider Theme="Themes.Spacelab" ISDarkMode="true"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    <MudDrawer Fixed="true" Width="56px" id="nav-drawer" Open="true" Elevation="2">
        <MudImage Class="pa-1" Src="files/images/logos/logo-1k.png"/>
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="pa-4">
            <MudGrid>
                <MudItem xs="2">
                    <MudText Typo="Typo.h6" GutterBottom="true">Change your account settings</MudText>
                    <SettingsNavMenu/>
                </MudItem>
                <MudItem xs="10">
                    @Body
                </MudItem>
            </MudGrid>
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>